body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


#nav {
    background-color: black;
    height: 50px;
}

#logo {
    float: left;/*same thing may also be achived by making #nav also a flexbox and removing float from #logo and #list*/
    font-size: 30px;
    padding: 6px 50px;
    font-weight: bolder;
}

#list {
    display: flex;
    /* height: 100%; */
    font-size: 25px;
    float: right;
    /* justify-content:space-around; */
}
a {
    color: white;
    text-decoration: none;
}
.link {
    padding: 10px 50px;
}
.link:hover {
    background-color: grey;
}
#toggle{
    display: none;
}
@media only screen and (max-width: 700px) {
    body{
        /* background-color: red; */
    }
    #list{
        display:none;
        position: absolute;
        flex-direction: column;
        background-color: black;
        margin-left: 50%;/*or just make width 100% and remove margin left*/
        width: 50%;
        height: 100%;
        text-align: center; 
        text-decoration: underline;
    }
    #list.active{/*this active slass is used in javascript to toggle the menu*/
        display: flex;
        margin-top: 50px;/*same as nav height*/
    }
    #toggle{
        float: right;
        display: block;
    }
    #logo{
        padding: 6px 10px;
    }
}
