body {
  font-family: sans-serif;

  margin: 0;
  padding: 0;
  background-color: #ffeedb;
}
nav {
  background-color: #c84b31;
  font-size: 1.5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 15vw;
  height: 100vh;
  left: 2vw;
  position: fixed;
  text-align: center;

  border-left: #0a1d37 solid 0.5rem;
  /* border-right: purple solid 0.3rem; */
}
.link {
  padding: 1rem;
}
.link:hover {
  background-color: grey;
  /* cursor: pointer; */
}
.border-bottom {
  border-bottom: #696969 solid 0.1px;
}
main {
  font-family: Arial;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: grey;
  width: 60vw;
  position: relative;
  left: 24vw;
  text-align: left;
  padding: 5vw;
}
.intro {
  background-color: #0a1d37;
  color: white;
  font-size: 1vw;
  font-style: italic;
  /* text-align: left; */
  padding: 0.3vw;
}
.social {
  width: 1.5vw;
  height: 1.5rem;
  padding: 0.2rem;
}
a {
  text-decoration: none;
  color: white;
}
.contact {
  display: none;
}

@media only screen and (max-width: 700px) {
  nav {
    /* display: none; */
    flex-direction: row;
    width: 100%;
    left: auto;
    height: 15vh;
    border: none;
    z-index: 1000;
    /* justify-content: stretch; */
    align-items: center;
    bottom: 0%;
    font-weight: bolder;
    background-color: transparent;
  }
  main {
    left: auto;
    width: 90vw;
    margin-bottom: 15vh;
  }
  h2 {
    text-align: center;
  }

  .intro {
    display: none;
  }
  .link {
    font-size: 3em;
    background-color: #0a1d37;
  }

  .contact {
    display: block;
    font-style: italic;
    text-align: center;
  }
  .contact a {
    color: #c84b31;
    font-style: normal;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background-color: #ffeedb;
}
body::-webkit-scrollbar-thumb {
  background-color: #c84b31;
}
